@media (max-width: 768px) {
  /* Common CSS */
  .inner {
    width: 100%;
  }
  .about-section,
  .skill-section,
  .portfolio-section {
    padding: 50px 0;
  }
  .about-section h2,
  .skill-section h2,
  .portfolio-section h2 {
    font-size: 36px;
  }
  /* Go Top Button */
  .go-top-btn {
    bottom: 25px;
    right: 25px;
  }
  /* Header */
  header .inner {
    padding: 5px 15px;
  }
  .hamburger-btn {
    display: block;
  }
  .header-nav {
    display: none;
  }
  /* Mobile Navigation */
  .mobile-nav {
    display: block;
  }
  /* Section : Intro */
  .intro-section {
    background-size: cover;
    height: 90vh;
  }
  .heading {
    padding-top: 100px;
  }
  .heading h1 {
    font-size: 52px;
  }
  /* Section : About */
  .about-me {
    flex-direction: column;
    gap: 0;
    padding: 0 30px;
  }
  .profile h3 {
    text-align: center;
    font-size: 26px;
  }
  .profile p {
    max-width: 100%;
    margin: auto;
    font-size: 16px;
  }
  .education h4 {
    font-size: 20px;
  }
  .education span {
    line-height: 1.5em;
    font-size: 16px;
  }
  .education span.period {
    display: block;
  }
  .education span:nth-child(2) {
    padding-left: 15px;
  }
  /* Section : Skill */
  .skill-section {
    padding: 50px 30px;
  }
  .skill-and-tool ul {
    flex-direction: column;
    margin-bottom: 30px;
  }
  /* Section : Portfolio */
  .portfolio-section {
    padding: 50px 30px;
  }
  .change-tab span {
    text-align: center;
    font-size: 20px;
  }
  /* Portfolio Tab : WebSite */
  .website-list {
    height: auto;
  }
  .website-list li:before {
    left: 0;
    font-size: 44px;
  }
  .website-mockup {
    width: 100%;
  }
  .website-desc {
    padding: 40px;
  }
  .website-desc h3 {
    font-size: 22px;
  }
  .website-desc p {
    font-size: 16px;
  }
  .website-mockup .mockup {
    width: 79%;
  }
  .website-thumb {
    width: 75%;
    height: 38%;
    top: 20%;
    left: 12.5%;
  }
  .website-view {
    width: 100%;
    margin-top: 5px;
  }
  .website-view:after {
    display: none;
  }
  .website-view a {
    font-size: 26px;
    margin: 0 5px;
  }
  .website-view a:nth-child(2) {
    font-size: 34px;
  }
  .website-slide-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .website-slide-btn label {
    margin: 0;
  }
  /* Portfolio Tab : Widget */
  .widget {
    margin-top: 50px;
  }
  .widget-container {
    flex-direction: column;
  }
  .widget-tab-change {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .widget-tab-change span {
    flex: 1;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
  }
  .widget-list {
    grid-template-columns: 1fr;
  }
  /* Section : Epilogue */
  .epilouge-section {
    padding: 50px 10px;
  }
  .epilouge-section h2 {
    font-size: 30px;
  }
  .epilouge-section p {
    font-size: 16px;
    word-break: keep-all;
  }
}
