/* fontawesome CDN */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* xeicon CDN */
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* font(pretendard) CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* reset */
* {
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}

body {
  margin: 0;
  font-weight: 400;
  height: 100vh;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #222;
}

.signin-box {
  width: 430px;

  padding: 50px 0;
}
.logo-img {
  text-align: center;
  margin-bottom: 50px;
}
.logo-img img {
  width: 250px;
}
.input-field input[type="email"],
.input-field input[type="password"] {
  width: 100%;
  margin-bottom: 25px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
}
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #000;
}
/* Submit button */
.submit-field {
  margin-bottom: 20px;
}
.submit-field input[type="submit"] {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #d3d3d3;
  color: #fff;
}

/* Search Field */
.search-field {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}
.search-field a {
  flex: 1;
  position: relative;
}
.search-field a:after {
  content: "|";
  position: absolute;
  right: 0;
}
.search-field a:last-child:after {
  display: none;
}
/* SNS Login */
.sns-login a {
  display: block;
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.sns-login a:before {
  position: absolute;
  left: 20px;
  font-size: 20px;
}
.sns-login a:first-child:before {
  content: "\ebf9";
  font-family: xeicon;
}
.sns-login a:last-child:before {
  content: "\ebb6";
  font-family: xeicon;
}
