/* fontawesome CDN */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* xeicon CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* font(pretendard) CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* reset */
* {
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}
body {
  margin: 0;
  font-weight: 400;
  height: 100vh;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #222;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

.container h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.gallery {
  width: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.list {
  cursor: pointer;
  display: none;
}
.list span {
  display: block;
  text-align: center;
  font-weight: 500;
}
.btn-box {
  text-align: center;
  margin-top: 20px;
}
.read-more-btn {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}
