/* fontawesome CDN */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* xeicon CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* font(pretendard) CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* reset */
* {
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}

body {
  margin: 0;
  font-weight: 400;
  height: 100vh;
  color: #222;
  text-align: center;
}

a {
  text-decoration: none;
  color: #222;
}

.open-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 0;
  transition: 0.4s;
  pointer-events: none;
  background-color: #fff;
}
.container.active {
  opacity: 1;
  pointer-events: all;
}
.container h1 {
  text-align: center;
  margin-top: 100px;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-box span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: gray;
  border-radius: 50%;
  margin: 5px;
  animation: load 1s linear infinite;
}
.loading-box span:nth-child(1) {
  background-color: blueviolet;
  animation-delay: 0;
}
.loading-box span:nth-child(2) {
  background-color: slateblue;
  animation-delay: 0.2s;
}
.loading-box span:nth-child(3) {
  background-color: dodgerblue;
  animation-delay: 0.4s;
}

/* animation close button */
.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

@keyframes load {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
